package-lock=true
engine-strict=true
save-exact=true
fetch-retry-mintimeout=200000
fetch-retry-maxtimeout=1200000
fetch-retries=5000
fetch-timeout=1800000
registry=https://registry.npmjs.com/
fetch-retry-factor=2000
loglevel=http